@font-face {
    font-family: Lato-Thin;
    src: url(../fonts/Lato/Lato-Thin.ttf);
}

@font-face {
    font-family: Lato-Light;
    src: url(../fonts/Lato/Lato-Light.ttf);
}

@font-face {
    font-family: Lato-Regular;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Black;
    src: url(../fonts/Lato/Lato-Black.ttf);
}

@font-face {
    font-family: Lato-Italic;
    src: url(../fonts/Lato/Lato-Italic.ttf);
}

.padding-site {
    padding-left: 230px;
    padding-right: 230px;
}

.container {
    width: 1600px;
    min-height: 100%;
    margin: 0 auto;
}

.page-header {}

.header-menu {
    width: 1600px;
    height: 75px;
    background: #222222;
    display: flex;
    align-items: center;
    position: relative;
}

.header-menu-hover-active:hover {
    fill: #ccc;
    cursor: pointer;
}

.header-menu-hover-active:active {
    fill: #fff;
}

.logo {
    margin-left: 231px;
}

.header-menu-search {
    margin-left: 41px;
    fill: #fff;
    padding-top: 10px;
}

#header-menu-input {
    display: none;
}

.header-menu-input:placeholder-shown {
    text-align: center;
}

.header-menu-mobile {
    margin-left: 859px;
    fill: #fff;
    background: #222;
    border: none;
    outline: none;
}

.header-menu-mobile:active ~ .header-menu-mobile-active {
    display: flex;
}

.header-menu-mobile-active {
    display: none;
    background: white;
    flex-direction: column;
    margin-left: 40px;
    width: 232px;
    height: 764px;
    box-shadow: 0 12px 6px -4px rgba(0, 0, 0, .2);
    text-transform: capitalize;
    position: absolute;
    top: 75px;
    left: 1328px;
}

.header-menu-mobile-active a {
    text-decoration: none;
}

.header-menu-active-heading {
    font: 14px Lato-Bold;
    line-height: 17px;
    margin-top: 37px;
    margin-left: 34px;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.header-menu-active-subtitle {
    font: 14px Lato-Regular;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #F16D7F;
    margin-top: 20px;
    margin-left: 33px;
    text-transform: uppercase;
}

.header-menu-active-items {
    font: 14px Lato-Regular;
    line-height: 17px;
    color: #6F6E6E;
    margin-left: 55px;
    margin-top: 11px;
}

.header-menu-user {
    margin-left: 33px;
    background: #222;
    fill: #fff;
    border: none;
    outline: none;
}

.header-menu-basket {
    margin-left: 33px;
    border: none;
    background: #222;
    padding-bottom: 10px;
    box-sizing: border-box;
    fill: #fff;
    outline: none;
}

.header-img {
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
}

.heading {
    border-left: 13px solid #F16D7F;
    padding-left: 16px;
    margin-left: 122px;
    width: 405px;
    box-sizing: border-box;
}

.brand-text {
    font: 37px Lato-Black;
    color: #222222;
    line-height: 44.4px;
    margin: 0;
    text-transform: uppercase;
}

.luxerious-text {
    font: 32px Lato-Bold;
    line-height: 38.4px;
    text-transform: uppercase;
}

.fashion {
    color: #F16D7F;
    text-transform: uppercase;
}

.categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1140px;
    font: 16px Lato-Regular;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-top: 65px;
}

.categories-item {
    margin-bottom: 30px;
    width: 360px;
    height: 260px;
}

.categories-item-subtitle {
    font: 16px Lato-Regular;
    line-height: 19px;
    color: white;
    display: block;
    padding-top: 105px;
    box-sizing: border-box;
}

.categories-item-title {
    font: 24px Lato-Bold;
    line-height: 28.8px;
    color: #F16D7F;
}

.categories-item-last {
    width: 1140px;
    height: 180px;
}

.categories-item-subtitle-last {
    padding-top: 65px;
}

.categories-item-bg-primary {
    background-size: cover;
    background: rgba(0, 0, 0, .65) url(../img/for-women.jpg);
    background-blend-mode: darken;
}

.categories-item-bg-secondary {
    background-size: cover;
    background: rgba(0, 0, 0, .65) url(../img/for-men.jpg);
    background-blend-mode: darken;
}

.categories-item-bg-tertiary {
    background-size: cover;
    background: rgba(0, 0, 0, .65) url(../img/for-kids.jpg);
    background-blend-mode: darken;
}

.categories-item-bg-last {
    background-size: cover;
    background: rgba(0, 0, 0, .65) url(../img/accesorios.jpg);
    background-blend-mode: darken;
}

.products {
    margin-bottom: 95px;
    margin-top: 65px;
}

.products-title {
    font: 30px Lato-Regular;
    line-height: 36px;
    color: #222222;
    display: block;
    text-align: center;
    text-transform: capitalize;
    padding-top: 96px;
    box-sizing: border-box;
}

.products-subtitle {
    font: 14px Lato-Regular;
    line-height: 17px;
    color: #9F9F9F;
    display: block;
    text-align: center;
    margin-top: 6px;
}

.products-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
}

.products-item {
    width: 360px;
    text-decoration: none;
    background: #F8F8F8;
    margin-bottom: 30px;
    position: relative;
}

.products-item-photo {
    display: block;
}

.products-item:hover .products-item-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.products-item:hover .products-item-btn:hover {
    background: #ccc;
    color: #000;
    border: 1px solid #000;
    fill: #000;
    cursor: pointer;
}

.products-item:hover .products-item-btn:active {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    fill: #fff;
}

.products-item:hover .products-item-wrp-blackout::after {
    content: "";
    display: block;
    background: rgba(58, 56, 56, .86);
    position: absolute;
    top: 0px;
    left: 0;
    width: 360px;
    height: 420px;
}

.products-item-title {
    font: 13px Lato-Regular;
    font-family: Lato;
    line-height: 16px;
    letter-spacing: 0em;
    color: #000;
    text-transform: uppercase;
    margin-top: 25px;
    display: block;
    padding-left: 18px;
    box-sizing: border-box;
}

.products-item-txt {
    font: 14px Lato-Light;
    line-height: 17px;
    letter-spacing: 0em;
    color: #5D5D5D;
    margin-top: 12px;
    padding-left: 18px;
    box-sizing: border-box;
}

.products-item-price {
    font: 16px Lato-Regular;
    line-height: 19px;
    letter-spacing: 0em;
    color: #F16D7F;
    margin-top: 18px;
    display: block;
    padding-left: 18px;
    box-sizing: border-box;
}

.products-item-btn {
    display: none;
    background: rgba(0, 0, 0, .1);
    border: 1px solid white;
    width: 139px;
    position: absolute;
    left: 110px;
    top: 188px;
    box-sizing: border-box;
    padding: 2px 0;
    fill: white;
    color: white;
    text-transform: capitalize;
    font: 14px Lato-Regular;
    line-height: 17px;
    letter-spacing: 0em;
    outline: none;
}

.products-item-price::after {
    content: "";
    display: block;
    height: 30px;
}

.products-btn {
    color: #F26376;
    background-color: white;
    text-transform: capitalize;
    font: 16px Lato-Regular;
    letter-spacing: 0em;
    border: 1px solid #FF6A6A;
    width: 212px;
    height: 48px;
    display: block;
    margin: 18px auto 0 auto;
    outline: none;
}

.products-btn:hover {
    background: #F26376;
    color: white;
}

.products-btn:active {
    background: #fff;
    color: #F26376;
}

.features {
    width: 1600px;
    background: #222224;
    display: flex;
    justify-content: center;
    padding-top: 103px;
    padding-bottom: 103px;
    box-sizing: border-box;
}

.features-item {
    display: flex;
    width: 360px;
    flex-direction: column;
    margin-right: 30px;
    text-align: center;
}

.features-item-icon {
    fill: #F16D7F;
    margin: 0 auto 0 auto;
}

.features-item-title {
    font: 19.96px Lato-Regular;
    line-height: 24px;
    color: #FBFBFB;
    text-transform: capitalize;
    margin-top: 28px;
}

.features-item-txt {
    font: 14px Lato-Light;
    line-height: 17px;
    color: #FBFBFB;
    margin-top: 16px;
}

.subscribe {
    display: flex;
    justify-content: space-evenly;
    width: 1600px;
    height: 448px;
    background-blend-mode: lighten;
    background: rgba(255, 255, 255, 0.5) url(../img/subscribe-bg.jpg);
}

.subscribe-info {
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribe-info-avatar {
    background: url(../img/subscribe-avatar.png);
    width: 96px;
    height: 96px;
}

.subscribe-info-txt {
    font: 20px Lato-Regular;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #222224;
    margin-top: 30px;
}

.subscribe-info-txt span {
    font: 20px Lato-Italic;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.subscribing {
    display: flex;
    width: 557px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribing-title {
    font: 24px Lato-Bold;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

.subscribing-subtitle {
    font: 18px Lato-Regular;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

.subscribing-form {
    width: 443px;
    height: 49px;
    display: flex;
    margin-top: 32px;
}

.subscribing-form-email {
    font: 14px Lato-Regular;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    background: #E1E1E1;
    border: none;
    border-radius: 25px 0 0 25px;
    width: 342px;
    padding-left: 20px;
    box-sizing: border-box;
    outline: none;
}

.subscribing-form-btn {
    font: 14px Lato-Regular;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    background: #F16D7F;
    color: white;
    border: none;
    border-radius: 0 25px 25px 0;
    width: 97px;
    outline: none;
}

.subscribing-form-btn:hover {
    background: #EEB3BA;
    color: #F16D7F;
}

.subscribing-form-btn:active {
    background: #f16d7f;
    color: #fff;
}

.page-footer {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-footer-padding {
    padding-left: 230px;
    padding-right: 230px;
}

.page-footer-txt {
    font: 16px Lato-Regular;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #FBFBFB;
}

.page-footer-socials {
    display: flex;
}

.page-footer-socials-item {
    width: 32px;
    height: 32px;
    background-color: #FBFBFB;
    color: #000;
    margin-right: 7px;
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding-top: 8px;
}

.page-footer-socials-item:hover {
    color: #FBFBFB;
    background: #E05C6E;
}

.page-footer-socials-item:active {
    background: #FBFBFB;
    color: #E05C6E;
}

.page-footer-socials a:nth-child(4) {
    margin: 0;
}


/*=========Catalog=========*/

.page-header-nav {
    background: #F8F3F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.page-header-title {
    font: 24px Lato-Regular;
    color: #F16D7F;
    text-transform: uppercase;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.page-header-list {
    list-style: none;
    display: flex;
    padding: 0;
    box-sizing: border-box;
}

.page-header-list-item {
    padding: 0 3px;
    box-sizing: border-box;
}

.page-header-list-slesh {
    font: 14px Lato-Light;
    line-height: 17px;
    color: #636363;
}

.page-header-list-link {
    text-transform: uppercase;
    font: 14px Lato-Light;
    line-height: 17px;
    color: #636363;
    text-decoration: none;
}

.page-header-list-link:hover {
    color: #ccc;
}

.page-header-list-link:active {
    color: #636363;
}

.page-header-list > li:last-child > a {
    font-weight: 700;
    color: #F16D7F;
}

.page-header-link {}

.dropdown {
    margin-top: 51px;
    margin-bottom: 64px;
    display: flex;
}

.products-dropdown-btn {
    border: none;
    background: #fff;
    font: 14px Lato-Bold;
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    outline: none;
}

.products-dropdown-btn:hover {
    cursor: pointer;
    fill: #ccc;
    color: #ccc;
}

.products-dropdown-btn:active {
    cursor: pointer;
    fill: #000;
    color: #000;
}

.products-dropdown-btn-title {}

.products-dropdown-wrp-select {
    margin-left: 320px;
    display: flex;
}

.products-dropdown-select {
    font: 14px Lato-Regular;
    line-height: 17px;
    text-transform: uppercase;
    color: #6F6E6E;
    border: none;
    margin-right: 18px;
}

.products-dropdown-select:hover {
    color: #ccc;
    cursor: pointer;
}

.products-dropdown-select:active {
    color: #6f6e6e;
}

.products-pagination-wrp {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.products-pagination {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #EBEBEB;
    width: 284px;
    padding: 12px 0;
    box-sizing: border-box;
}

.products-pagination:hover {}

.products-pagination-item {
    font: 16px Lato-Light;
    line-height: 19px;
    color: #C4C4C4;
    text-decoration: none;
}

.products-pagination > .products-pagination-item:first-child,
.products-pagination > .products-pagination-item:last-child {
    color: #000;
    font-weight: 900;
}

.products-pagination-item:hover:not(.pagination-item-not-hover) {
    color: #e1e1e1;
}

.products-pagination-item:active:not(.pagination-item-not-hover) {
    color: #C4C4C4;
}

.products-pagination .products-pagination-item:first-child:active,
.products-pagination .products-pagination-item:last-child:active {
    color: #000;
}

.products-pagination > .products-pagination-item:nth-child(2) {
    color: #ef5b70;
}


/*=========Product=========*/

.produce {}

.produce-slider {
    background: #F7F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    padding-top: 11px;
    padding-bottom: 42px;
}

.produce-slider-control {
    text-align: center;
    background: rgba(42, 42, 42, 0.15);
    fill: #000;
    width: 47px;
    height: 47px;
    padding-top: 12px;
    box-sizing: border-box;
}

.produce-slider-control:hover {
    fill: #F16D7F;
    cursor: pointer;
}

.produce-slider-control:active {
    fill: #000;
}

.produce-benefits {
    font: 14px Lato-Light;
    line-height: 17px;
    color: #F16D7F;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1140px;
    padding-bottom: 64px;
    padding-top: 64px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    top: -65px;
    background: #fff;
}

.produce-benefits-subtitle {
    text-transform: uppercase;
    box-sizing: border-box;
}

.produce-benefits-subtitle::after {
    display: block;
    content: "";
    width: 63px;
    height: 3px;
    background: #EF5B70;
    margin: 12px auto;
}

.produce-benefits-title {
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-transform: uppercase;
}

.produce-benefits-desc {
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    margin-top: 48px;
    margin-bottom: 0;
    max-width: 555px;
}

.produce-benefits-price {
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    text-align: center;
    margin-top: 32px;
}

.produce-benefits-price::after {
    display: block;
    content: "";
    width: 641px;
    border-bottom: 1px solid #eaeaea;
    margin: 64px 0;
}

.produce-benefits-select {
    font: 14px Lato-Regular;
    line-height: 17px;
    color: #6F6E6E;
    text-transform: uppercase;
    margin-bottom: 48px;
    border: none;
    outline: none;
}

.produce-benefits-select:hover {
    color: #ccc;
    cursor: pointer;
}

.produce-benefits-select:active {
    color: #6f6e6e;
}

.produce-benefits-btn {
    background: #fff;
    border: 1px solid #F26376;
    width: 139px;
    box-sizing: border-box;
    padding: 2px 0;
    fill: #F26376;
    color: #F26376;
    text-transform: capitalize;
    font: 14px Lato-Regular;
    line-height: 17px;
    letter-spacing: 0em;
    outline: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.produce-benefits-btn:hover {
    fill: #fff;
    color: #fff;
    background: #F26376;
    cursor: pointer;
}

.produce-benefits-btn:active {
    fill: #F26376;
    color: #F26376;
    background: #fff;
}

.product-page-margin {
    margin-top: 63px;
    margin-bottom: 128px;
}