@font-face {
    font-family: 'lato';
    src: url(../fonts/lato/lato-black.eot);
    src: url(../fonts/lato/lato-black.eot?#iefix) format('embedded-opentype'), url(../fonts/lato/lato-black.woff2) format('woff2'), url(../fonts/lato/lato-black.woff) format('woff'), url(../fonts/lato/lato-black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url(../fonts/lato/lato-bold.eot);
    src: url(../fonts/lato/lato-bold.eot?#iefix) format('embedded-opentype'), url(../fonts/lato/lato-bold.woff2) format('woff2'), url(../fonts/lato/lato-bold.woff) format('woff'), url(../fonts/lato/lato-bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url(../fonts/lato/lato-italic.eot);
    src: url(../fonts/lato/lato-italic.eot?#iefix) format('embedded-opentype'), url(../fonts/lato/lato-italic.woff2) format('woff2'), url(../fonts/lato/lato-italic.woff) format('woff'), url(../fonts/lato/lato-italic.ttf) format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'lato';
    src: url(../fonts/lato/lato-light.eot);
    src: url(../fonts/lato/lato-light.eot?#iefix) format('embedded-opentype'), url(../fonts/lato/lato-light.woff2) format('woff2'), url(../fonts/lato/lato-light.woff) format('woff'), url(../fonts/lato/lato-light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url(../fonts/lato/lato-regular.eot);
    src: url(../fonts/lato/lato-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/lato/lato-regular.woff2) format('woff2'), url(../fonts/lato/lato-regular.woff) format('woff'), url(../fonts/lato/lato-regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url(../fonts/lato/lato-thin.eot);
    src: url(../fonts/lato/lato-thin.eot?#iefix) format('embedded-opentype'), url(../fonts/lato/lato-thin.woff2) format('woff2'), url(../fonts/lato/lato-thin.woff) format('woff'), url(../fonts/lato/lato-thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

.padding-site {
    padding-left: 230px;
    padding-right: 230px;
}

.container {
    width: 1600px;
    min-height: 100%;
    margin: 0 auto;
}

.page-header {
}

.header-menu {
    width: 1600px;
    height: 75px;
    background: #222222;
    display: flex;
    align-items: center;
    position: relative;
}

.header-menu-hover-active:hover {
    fill: #ccc;
    cursor: pointer;
}

.header-menu-hover-active:active {
    fill: #fff;
}

.header-menu-hover-active:focus {
    box-shadow: 0 0 0 3px lightskyblue;
}

.logo {
    margin-left: 231px;
}

.logo:focus {
    box-shadow: 0 0 0 3px lightskyblue;
    outline: none;
}

.header-menu-search {
    margin-left: 41px;
    fill: #fff;
    padding-top: 10px;
}

#header-menu-input {
    display: none;
}

.header-menu-mobile {
    margin-left: 859px;
    fill: #fff;
    background: #222;
    border: none;
    outline: none;
}

.header-menu-mobile:focus ~ .header-menu-mobile-active {
    display: flex;
}

.header-menu-mobile-active {
    display: none;
    background: white;
    flex-direction: column;
    margin-left: 40px;
    width: 232px;
    height: 764px;
    box-shadow: 0 12px 6px -4px rgba(0, 0, 0, .2);
    text-transform: capitalize;
    position: absolute;
    top: 75px;
    left: 1328px;
}

.header-menu-mobile-active a {
    text-decoration: none;
}

.header-menu-active-heading {
    font: 700 14px 'lato';
    line-height: 17px;
    margin-top: 37px;
    margin-left: 34px;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.header-menu-active-subtitle {
    font: 400 14px 'lato';
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    color: #F16D7F;
    margin-top: 20px;
    margin-left: 33px;
    text-transform: uppercase;
}

.header-menu-active-items {
    font: 400 14px 'lato';
    line-height: 17px;
    color: #6F6E6E;
    margin-left: 55px;
    margin-top: 11px;
}

.header-menu-user {
    margin-left: 33px;
    background: #222;
    fill: #fff;
    border: none;
    outline: none;
}

.header-menu-basket {
    margin-left: 33px;
    border: none;
    background: #222;
    padding-bottom: 10px;
    box-sizing: border-box;
    fill: #fff;
    outline: none;
}

.header-menu-basket path:nth-child(2) {
    fill: #F16D7F;
}

.header-img {
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
}

.heading {
    border-left: 13px solid #F16D7F;
    padding-left: 16px;
    margin-left: 122px;
    width: 405px;
    box-sizing: border-box;
}

.brand-text {
    font: 900 37px 'lato';
    color: #222222;
    line-height: 44.4px;
    margin: 0;
    text-transform: uppercase;
}

.luxerious-text {
    font: 900 32px 'lato';
    line-height: 38.4px;
    text-transform: uppercase;
}

.fashion {
    color: #F16D7F;
    text-transform: uppercase;
}

.categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1140px;
    font: 400 16px 'lato';
    line-height: 19px;
    letter-spacing: 0;
    color: white;
    margin-top: 65px;
}

.categories-item {
    margin-bottom: 30px;
    width: 360px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.categories-item-subtitle {
    font: 400 16px 'lato';
    line-height: 19px;
    color: white;
}

.categories-item-title {
    font: 700 24px 'lato';
    line-height: 28.8px;
    color: #F16D7F;
}

.categories-item-last {
    width: 1140px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.categories-item-subtitle-last {
}

.categories-item-bg-primary {
    background-size: cover;
    background: rgba(0, 0, 0, .65) url(../img/for-women.jpg);
    background-blend-mode: darken;
}

.categories-item-bg-secondary {
    background-size: cover;
    background: rgba(0, 0, 0, .65) url(../img/for-men.jpg);
    background-blend-mode: darken;
}

.categories-item-bg-tertiary {
    background-size: cover;
    background: rgba(0, 0, 0, .65) url(../img/for-kids.jpg);
    background-blend-mode: darken;
}

.categories-item-bg-last {
    background-size: cover;
    background: rgba(0, 0, 0, .65) url(../img/accesorios.jpg);
    background-blend-mode: darken;
}

.products {
    margin-bottom: 95px;
    margin-top: 65px;
}

.products-title {
    font: 400 30px 'lato';
    line-height: 36px;
    color: #222222;
    display: block;
    text-align: center;
    text-transform: capitalize;
    margin-top: 96px;
}

.products-subtitle {
    font: 400 14px 'lato';
    line-height: 17px;
    color: #9F9F9F;
    display: block;
    text-align: center;
    margin-top: 6px;
}

.products-wrp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
}

.products-item {
    width: 360px;
    text-decoration: none;
    background: #F8F8F8;
    margin-bottom: 30px;
    position: relative;
}

.products-item:focus {
    outline: none;
    box-shadow: 0 0 0 3px lightskyblue;
}

.products-item-photo {
    display: block;
}

.products-item:hover .products-item-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.products-item:hover .products-item-btn:hover {
    background: #ccc;
    color: #000;
    border: 1px solid #000;
    fill: #000;
    cursor: pointer;
}

.products-item:hover .products-item-btn:active {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    fill: #fff;
}

.products-item:hover .products-item-wrp-blackout::after {
    content: "";
    display: block;
    background: rgba(58, 56, 56, .86);
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 420px;
}

.products-item-title {
    font: 400 13px 'lato';
    line-height: 16px;
    letter-spacing: 0;
    color: #000;
    text-transform: uppercase;
    margin-top: 25px;
    display: block;
    padding-left: 18px;
    box-sizing: border-box;
}

.products-item-txt {
    font: 300 14px 'lato';
    line-height: 17px;
    letter-spacing: 0;
    color: #5D5D5D;
    margin-top: 12px;
    padding-left: 18px;
    box-sizing: border-box;
}

.products-item-price {
    font: 400 16px 'lato';
    line-height: 19px;
    letter-spacing: 0;
    color: #F16D7F;
    margin-top: 18px;
    display: block;
    padding-left: 18px;
    box-sizing: border-box;
}

.products-item-btn {
    font: 400 14px 'lato';
    line-height: 17px;
    letter-spacing: 0;
    display: none;
    background: rgba(0, 0, 0, .1);
    border: 1px solid white;
    width: 139px;
    position: absolute;
    left: 110px;
    top: 188px;
    box-sizing: border-box;
    padding: 2px 0;
    fill: white;
    color: white;
    text-transform: capitalize;
    outline: none;
}

.products-item-price::after {
    content: "";
    display: block;
    height: 30px;
}

.products-btn {
    font: 400 16px 'lato';
    text-transform: capitalize;
    letter-spacing: 0;
    color: #F26376;
    background-color: white;
    border: 1px solid #FF6A6A;
    width: 212px;
    height: 48px;
    display: block;
    margin: 18px auto 0 auto;
    outline: none;
}

.products-item-btn:focus {
    border: 1px solid lightskyblue;
    fill: lightskyblue;
    color: lightskyblue;
}

.products-btn:hover {
    background: #F26376;
    color: white;
}

.products-btn:active {
    background: #fff;
    color: #F26376;
}

.products-btn:focus {
    box-shadow: 0 0 0 3px #F26376;
}

.features {
    width: 1600px;
    background: #222224;
    display: flex;
    justify-content: center;
    padding-top: 103px;
    padding-bottom: 103px;
    box-sizing: border-box;
}

.features-item {
    display: flex;
    width: 360px;
    flex-direction: column;
    margin-right: 30px;
    text-align: center;
}

.features-item-icon {
    fill: #F16D7F;
    margin: 0 auto 0 auto;
}

.features-item-title {
    font: 400 20px 'lato';
    line-height: 24px;
    color: #FBFBFB;
    text-transform: capitalize;
    margin-top: 28px;
}

.features-item-txt {
    font: 300 14px 'lato';
    line-height: 17px;
    color: #FBFBFB;
    margin-top: 16px;
}

.subscribe {
    display: flex;
    justify-content: space-evenly;
    width: 1600px;
    background-blend-mode: lighten;
    background: rgba(255, 255, 255, 0.5) url(../img/subscribe-bg.jpg);
    background-size: cover;
    padding-top: 97px;
    padding-bottom: 126px;
    box-sizing: border-box;
}

.subscribe-info {
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscribe-info-avatar {
    background: url(../img/subscribe-avatar.png);
    width: 96px;
    height: 96px;
}

.subscribe-info-txt {
    font: 400 20px 'lato';
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: #222224;
    margin-top: 30px;
}

.subscribe-info-txt span {
    font: italic 400 20px 'lato';
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
}

.subscribing {
    display: flex;
    width: 557px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222224;
}

.subscribing-title {
    font: 700 24px 'lato';
    line-height: 38px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
}

.subscribing-subtitle {
    font: 400 18px 'lato';
    line-height: 30px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
}

.subscribing-form {
    width: 443px;
    display: flex;
    margin-top: 32px;
}

.subscribing-form-email:focus {
    box-shadow: 0 0 0 3px lightskyblue;
}

.subscribing-form-btn:focus {
    box-shadow: 0 0 0 3px lightskyblue;
}

.subscribing-form-email {
    font: 400 14px 'lato';
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    background: #E1E1E1;
    border: none;
    border-radius: 25px 0 0 25px;
    width: 342px;
    padding: 17px 0 16px 20px;
    box-sizing: border-box;
    outline: none;
}

.subscribing-form-email::placeholder {
    color: #222224;
    opacity: 0.67;
    text-transform: capitalize;
}

.subscribing-form-btn {
    font: 400 14px 'lato';
    line-height: 17px;
    letter-spacing: 0;
    text-align: center;
    background: #F16D7F;
    color: white;
    border: none;
    border-radius: 0 25px 25px 0;
    width: 97px;
    outline: none;
}

.subscribing-form-btn:hover {
    background: #EEB3BA;
    color: #F16D7F;
}

.subscribing-form-btn:active {
    background: #f16d7f;
    color: #fff;
}

.page-footer {
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-footer-padding {
    padding-left: 230px;
    padding-right: 230px;
}

.page-footer-txt {
    font: 400 16px 'lato';
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
    color: #FBFBFB;
    text-transform: capitalize;
}

.page-footer-socials {
    display: flex;
}

.page-footer-socials-item {
    width: 32px;
    height: 32px;
    background-color: #FBFBFB;
    color: #000;
    margin-right: 7px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 8px;
}

.page-footer-socials-item:hover {
    color: #FBFBFB;
    background: #E05C6E;
}

.page-footer-socials-item:active {
    background: #FBFBFB;
    color: #E05C6E;
}

.page-footer-socials-item:focus {
    box-shadow: 0 0 0 3px lightskyblue;
    outline: none;
}

.page-footer-socials a:nth-child(4) {
    margin: 0;
}


/*=========Catalog=========*/

.page-header-nav {
    background: #F8F3F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.page-header-title {
    font: 400 24px 'lato';
    color: #F16D7F;
    text-transform: uppercase;
    line-height: 29px;
    letter-spacing: 0;
}

.page-header-list {
    list-style: none;
    display: flex;
    padding: 0;
    box-sizing: border-box;
}

.page-header-list-item {
    padding: 0 3px;
    box-sizing: border-box;
}

.page-header-list-slesh {
    font: 300 14px 'lato';
    line-height: 17px;
    color: #636363;
}

.page-header-list-link {
    text-transform: uppercase;
    font: 300 14px 'lato';
    line-height: 17px;
    color: #636363;
    text-decoration: none;
}

.page-header-list-link:hover {
    color: #ccc;
}

.page-header-list-link:active {
    color: #636363;
}

.page-header-list-link:focus {
    box-shadow: 0 0 0 3px lightskyblue;
    outline: none;
}

.page-header-list > li:last-child > a {
    font: 700 14px 'lato';
    color: #F16D7F;
}

.page-header-link {
}

.dropdown {
    margin-top: 51px;
    margin-bottom: 64px;
    display: flex;
}

.products-dropdown-btn {
    font: 700 14px 'lato';
    line-height: 17px;
    text-transform: uppercase;
    border: none;
    background: #fff;
    color: #000000;
}

.products-dropdown-btn:focus {
    box-shadow: 0 0 0 3px lightskyblue;
    outline: none;
}

.products-dropdown-btn:hover {
    cursor: pointer;
    fill: #ccc;
    color: #ccc;
}

.products-dropdown-btn:active {
    cursor: pointer;
    fill: #000;
    color: #000;
}

.products-dropdown-btn-title {
}

.products-dropdown-wrp-select {
    margin-left: 320px;
    display: flex;
}

.products-dropdown-select {
    font: 400 14px 'lato';
    line-height: 17px;
    text-transform: uppercase;
    color: #6F6E6E;
    border: none;
    margin-right: 18px;
}

.products-dropdown-select:focus {
    box-shadow: 0 0 0 3px lightskyblue;
    outline: none;
}

.products-dropdown-select:hover {
    color: #ccc;
    cursor: pointer;
}

.products-dropdown-select:active {
    color: #6f6e6e;
}

.products-pagination-wrp {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.products-pagination {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #EBEBEB;
    width: 284px;
    padding: 12px 0;
    box-sizing: border-box;
}

.products-pagination:hover {
}

.products-pagination-item {
    font: 300 16px 'lato';
    line-height: 19px;
    color: #C4C4C4;
    text-decoration: none;
}

.products-pagination > .products-pagination-item:first-child,
.products-pagination > .products-pagination-item:last-child {
    color: #000;
    font: 900 16px 'lato';
}

.products-pagination-item:hover:not(.pagination-item-not-hover) {
    color: #e1e1e1;
}

.products-pagination-item:active:not(.pagination-item-not-hover) {
    color: #C4C4C4;
}

.products-pagination-item:focus:not(.pagination-item-not-hover) {
    box-shadow: 0 0 0 3px lightskyblue;
    outline: none;
}

.products-pagination .products-pagination-item:first-child:active,
.products-pagination .products-pagination-item:last-child:active {
    color: #000;
}

.products-pagination > .products-pagination-item:nth-child(2) {
    color: #ef5b70;
}


/*=========Product=========*/

.produce {
}

.produce-slider {
    background: #F7F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    padding-top: 11px;
    padding-bottom: 42px;
}

.produce-slider-control {
    text-align: center;
    background: rgba(42, 42, 42, 0.15);
    fill: #000;
    width: 47px;
    height: 47px;
}

.produce-slider-control:hover {
    fill: #F16D7F;
    cursor: pointer;
}

.produce-slider-control:active {
    fill: #000;
}

.produce-slider-control:focus {
    box-shadow: 0 0 0 3px lightseagreen;
    outline: none;
}

.produce-benefits {
    font: 300 14px 'lato';
    line-height: 17px;
    color: #F16D7F;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1140px;
    padding-bottom: 64px;
    padding-top: 64px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    margin: auto;
    position: relative;
    top: -65px;
    background: #fff;
}

.produce-benefits-subtitle {
    text-transform: uppercase;
    box-sizing: border-box;
}

.produce-benefits-subtitle::after {
    display: block;
    content: "";
    width: 63px;
    height: 3px;
    background: #EF5B70;
    margin: 12px auto;
}

.produce-benefits-title {
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    text-transform: uppercase;
}

.produce-benefits-desc {
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    margin-top: 48px;
    margin-bottom: 0;
    max-width: 555px;
}

.produce-benefits-price {
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    text-align: center;
    margin-top: 32px;
}

.produce-benefits-price::after {
    display: block;
    content: "";
    width: 641px;
    border-bottom: 1px solid #eaeaea;
    margin: 64px 0;
}

.produce-benefits-select {
    font: 400 14px 'lato';
    line-height: 17px;
    color: #6F6E6E;
    text-transform: uppercase;
    margin-bottom: 48px;
    border: none;
}

.produce-benefits-select:hover {
    color: #ccc;
    cursor: pointer;
}

.produce-benefits-select:active {
    color: #6f6e6e;
}

.produce-benefits-select:focus {
    box-shadow: 0 0 0 3px lightskyblue;
    outline: none;
}

.produce-benefits-btn {
    font: 400 14px 'lato';
    text-transform: capitalize;
    line-height: 17px;
    letter-spacing: 0;
    background: #fff;
    border: 1px solid #F26376;
    width: 139px;
    box-sizing: border-box;
    padding: 2px 0;
    fill: #F26376;
    color: #F26376;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.produce-benefits-btn:hover {
    fill: #fff;
    color: #fff;
    background: #F26376;
    cursor: pointer;
}

.produce-benefits-btn:active {
    fill: #F26376;
    color: #F26376;
    background: #fff;
}

.produce-benefits-btn:focus {
    box-shadow: 0 0 0 3px #f26376;
    outline: none;
}

.product-page-margin {
    margin-top: 63px;
    margin-bottom: 128px;
}


/*=========Cart=========*/

.page-header-title-cart {
    font: 400 24px 'lato';
    text-transform: uppercase;
    line-height: 29px;
    letter-spacing: 0;
    display: block;
    color: #F16D7F;
    background: #F8F3F4;
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.basket {
    display: flex;
}

.basket-products {
    display: flex;
    flex-direction: column;
    padding-top: 96px;
    box-sizing: border-box;
}

.basket-products-item {
    display: flex;
    width: 652px;
    margin-bottom: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
}

.basket-products-item-desc {
    font: 400 22px 'lato';
    line-height: 26px;
    color: #575757;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    margin-left: 31px;
    width: 193px;
    padding-top: 22px;
    box-sizing: border-box;
}

.basket-products-item-desc-title {
    font: 400 24px 'lato';
    line-height: 29px;
    color: #222222;
    text-transform: uppercase;
}

.basket-products-item-desc-price {
    margin-bottom: 6px;
    margin-top: 42px;
}

.basket-products-item-desc-price span {
    color: #EF5B70;
}

.basket-products-item-desc-color {
    margin-bottom: 6px;
}

.basket-products-item-desc-size {
    margin-bottom: 6px;
}

.basket-products-item-desc-quantity-label {
    display: flex;
}

.basket-products-item-desc-quantity-input {
    width: 44px;
    height: 25px;
    color: #656565;
    border: 1px solid #eaeaea;
    margin-left: 24px;
    text-align: center;
}

.basket-products-item-desc-quantity-input:focus {
    box-shadow: 0 0 0 3px lightskyblue;
    outline: none;
}

.basket-products-item-desc-quantity-input::placeholder {
    font-size: 18px;
    color: #656565;
}

.basket-products-item-btn {
    fill: #575757;
    width: 18px;
    height: 18px;
    border: none;
    background: #fff;
    margin-top: 28px;
    margin-left: 126px;
    padding-right: 22px;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.basket-products-item-btn:hover {
    fill: #ccc;
    cursor: pointer;
}

.basket-products-item-btn:active {
    fill: #575757;
}

.basket-products-item-btn:focus {
    box-shadow: 0 0 0 3px lightskyblue;
    outline: none;
}

.basket-products-btn {
    font: 300 14px 'lato';
    line-height: 17px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 32px;
    margin-bottom: 128px;
    display: flex;
    justify-content: space-between;
}

.basket-products-btn button {
    font: 300 14px 'lato';
    line-height: 17px;
    text-transform: uppercase;
    width: 235px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #000000;
    background: #fff;
    border: 1px solid #A4A4A4;
}

.basket-products-btn button:hover {
    color: #fff;
    background: #ccc;
    cursor: pointer;
}

.basket-products-btn button:active {
    color: #4a4a4a;
    background: #fff;
}

.basket-products-btn button:focus {
    box-shadow: 0 0 0 3px lightskyblue;
    border: 1px solid lightskyblue;
    outline: none;
}

.basket-features {
    width: 360px;
    display: flex;
    flex-direction: column;
    padding-top: 113px;
    margin-left: 128px;
}

.basket-features-form {
}

.basket-features-form-fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.basket-features-form-title {
    font: 300 16px 'lato';
    color: #222222;
    line-height: 19px;
    text-transform: uppercase;
}

.basket-features-form-input {
    font: 300 13px 'lato';
    color: #222222;
    line-height: 16px;
    padding-top: 13px;
    padding-bottom: 16px;
    margin-top: 20px;
    padding-left: 17px;
    box-sizing: border-box;
    border: 1px solid #a4a4a4;
}

.basket-features-form-input:focus {
    box-shadow: 0 0 0 3px lightskyblue;
    outline: none;
    border: 1px solid lightskyblue;
}

.basket-features-form-input::placeholder {
    font: 300 13px 'lato';
    color: #222222;
    line-height: 16px;
    text-transform: capitalize;
}

.basket-features-form-input[placeholder="bangladesh"]::placeholder {
    font: 300 13px 'lato';
    line-height: 16px;
    color: #B1B1B1;
    text-transform: capitalize;
}

.basket-features-form-input[type="submit"] {
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    margin-top: 23px;
    width: 101px;
    padding-top: 10px;
    padding-bottom: 12px;
    background: #fff;
    text-transform: uppercase;
    outline: none;
}

.basket-features-form-input[type="submit"]:hover {
    color: #fff;
    background: #ccc;
    cursor: pointer;
}

.basket-features-form-input[type="submit"]:active {
    color: #4a4a4a;
    background: #fff;
}

.features-checkout {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    margin-top: 57px;
    background: #F5F3F3;
    padding-top: 39px;
    padding-bottom: 42px;
    box-sizing: border-box;
}

.features-checkout-sub_total {
    font: 400 11px 'lato';
    line-height: 13px;
    color: #4A4A4A;
    padding-left: 218px;
    box-sizing: border-box;
}

.features-checkout-sub_total span {
    padding-left: 25px;
}

.features-checkout-grandt_total {
    font: 300 16px 'lato';
    line-height: 19px;
    color: #222222;
    padding-top: 12px;
    padding-left: 153px;
    box-sizing: border-box;
}

.features-checkout-grandt_total span {
    font: 700 16px 'lato';
    color: #F16D7F;
    padding-left: 15px;
}

.features-checkout-line {
    content: "";
    display: block;
    width: 275px;
    height: 1px;
    background: #E2E2E2;
    margin: 21px auto 17px;
}

.features-checkout-btn {
    font: 300 16px 'lato';
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #F16D7F;
    width: 273px;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    border: 3px solid transparent;
    margin: 0 auto;
}

.features-checkout-btn:hover {
    color: #f16d7f;
    background: #fff;
    cursor: pointer;
}

.features-checkout-btn:active {
    color: #fff;
    background: #f16d7f;
}

.features-checkout-btn:focus {
    border: 3px solid lightskyblue;
    outline: none;
}


/*=========registration=========*/

.registration {
    display: flex;
    padding-top: 64px;
    box-sizing: border-box;
}

.registration-form {
    width: 360px;
}

.registration-name {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.registration fieldset {
    border: none;
}

.registration-title {
    font: 300 16px 'lato';
    line-height: 19px;
    color: #222222;
    text-transform: capitalize;
}

.registration-input {
    margin-top: 20px;
    padding: 13px 0 16px 17px;
    box-sizing: border-box;
    border: 1px solid #A4A4A4;
}

.registration-input::placeholder {
    font: 300 13px 'lato';
    line-height: 16px;
    color: #B1B1B1;
    text-transform: capitalize;
}

.registration-input:focus {
    box-shadow: 0 0 0 3px lightskyblue;
    outline: none;
    border: 1px solid lightskyblue;
}

.registration-radio-wrp {
    display: flex;
    margin-top: 31px;
    align-items: center;
}

.registration-label {
    font: 300 11px 'lato';
    line-height: 13px;
    color: #000000;
    text-transform: capitalize;
    margin-right: 10px;
}

.registration-label:hover {
    cursor: pointer;
    color: #ccc;
}

.registration-label:active {
    cursor: pointer;
    color: #000;
}

.registration-radio {
    margin: 0 20px 0 0;
}

.registration-radio:hover {
    cursor: pointer;
}

.registration-radio:focus {
    box-shadow: 0 0 0 3px lightskyblue;
    outline: none;
}

.registration-login {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 33px 0 0 0;
    box-sizing: border-box;
}

.registration-txt {
    font: 300 13px 'lato';
    line-height: 16px;
    color: #B1B1B1;
    margin-top: 15px;
    margin-bottom: 0;
}

.registration-input_submit-wrp {
    margin-top: 39px;
    margin-bottom: 96px;
    position: relative;
    width: 167px;
}

.registration-input_submit {
    font: 400 14px 'lato';
    line-height: 17px;
    color: #FFFFFF;
    background: #F16D7F;
    text-transform: uppercase;
    padding: 16px 66px 17px 29px;
    border: none;
    box-sizing: border-box;
}

.registration-input_submit:focus {
    box-shadow: 0 0 0 3px lightskyblue;
    outline: none;
}

.registration-input_submit-wrp svg {
    fill: #fff;
    position: absolute;
    top: 20px;
    left: 121px;
}

.registration-input_submit-wrp:hover .registration-input_submit {
    cursor: pointer;
    background: #F9FF7E;
    color: #F16D7F;
}

.registration-input_submit-wrp:hover svg {
    cursor: pointer;
    fill: #F16D7F;
}

.registration-input_submit-wrp:active .registration-input_submit {
    cursor: pointer;
    background: #F16D7F;
    color: #fff;
    outline: #f16d7f;
}

.registration-input_submit-wrp:active svg {
    cursor: pointer;
    fill: #fff;
}

.registration-desc {
    font: 300 24px 'lato';
    line-height: 29px;
    color: #000000;
    width: 652px;
    margin-left: 128px;
}

.registration-desc-title {
    text-transform: uppercase;
}

.registration-desc-txt {
    margin: 21px 0;
}

.registration-desc-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.registration-desc-item {
    margin-bottom: 16px;
}

.registration-desc-item svg {
    fill: #000;
}

.registration-desc-list li:last-child {
    margin-bottom: 0;
}